# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [0]:
euro12 = pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
print(euro12.info())
euro12_no_goals = euro12.drop(['Goals'],axis=1)
# Jest ok, bo Goals to columna. Proba usuniecia jako wiersz konczy sie bledem. 
# axis z default jest 0 
print(euro12_no_goals.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 34 columns):
Team                          16 non-null object
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(28), object(5)
memory usage: 4.3+ KB
None

### Step 4. Select only the Goal column.

In [1]:
euro12.Goals
#euro12.Goals.isnull().value_counts()

NameError: ignored

In [0]:
# Checking null 
# euro12.notnull().sum()
#g = euro12.isnull().sum()
#g[g[1] > 0]
df = pd.DataFrame([range(3), [0, np.NaN, 0], [0, 0, np.NaN], range(3), range(3)],columns=['A','B','C'])
print(df.describe())
print(df.isnull())
df.B.fillna(inplace=True,value="B-NotNA")
df.C.fillna(inplace=True,value="C-NotNA")
print(df)
print(df.isnull())

         A     B    C
count  5.0  4.00  4.0
mean   0.0  0.75  1.5
std    0.0  0.50  1.0
min    0.0  0.00  0.0
25%    0.0  0.75  1.5
50%    0.0  1.00  2.0
75%    0.0  1.00  2.0
max    0.0  1.00  2.0
       A      B      C
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False  False  False
   A        B        C
0  0        1        2
1  0  B-NotNA        0
2  0        0  C-NotNA
3  0        1        2
4  0        1        2
       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

In [7]:
df = pd.DataFrame([['A',1,1], ['C', np.NaN, 0], ['E', 0, np.NaN], ['A',1,2] , ['A',2,1]],columns=['A','B','C'])
# to jest pandas.Series
type(df.groupby("A").B.value_counts())

pandas.core.series.Series

In [0]:
pd.read_csv?

### Step 5. How many team participated in the Euro2012?

In [0]:
# Agregacja po wszystkich kolumnach
euro12.agg(['count','mean','min','max']).sort_values('Goals')

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
min,Croatia,1.00,7.000,10.0000,21.2%,12.5%,27.0000,0.00,0.0000,0.0000,...,6.000,54.6%,25.0000,30.000,2.000,4.0000,0.0000,7.000,7.000,15.00
mean,NaN,4.75,17.125,24.9375,NaN,NaN,54.9375,1.25,0.1875,0.0625,...,12.125,NaN,52.9375,55.625,8.125,7.4375,0.1875,10.875,10.875,17.25
max,Ukraine,12.00,42.000,45.0000,55.9%,9.3%,110.0000,6.00,1.0000,1.0000,...,22.000,93.8%,102.0000,90.000,19.000,16.0000,1.0000,18.000,18.000,20.00
count,16,16.00,16.000,16.0000,16,16,16.0000,16.00,16.0000,16.0000,...,16.000,16,16.0000,16.000,16.000,16.0000,16.0000,16.000,16.000,16.00

### Step 6. What is the number of columns in the dataset?

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

### Step 9. Calculate the mean Yellow Cards given per Team

### Step 10. Filter teams that scored more than 6 goals

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3.

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia