<a href="https://colab.research.google.com/github/zizu1985/pandas_exercises/blob/master/02_Filtering_%26_Sorting/Euro12/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [95]:
euro12 = pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
print(euro12.info())
euro12_no_goals = euro12.drop(['Goals'],axis=1)
# Jest ok, bo Goals to columna. Proba usuniecia jako wiersz konczy sie bledem. 
# axis z default jest 0 
print(euro12_no_goals.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 34 columns):
Team                          16 non-null object
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(28), object(5)
memory usage: 4.3+ KB
None

### Step 4. Select only the Goal column.

In [75]:
euro12.Goals
#euro12.Goals.isnull().value_counts()

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [76]:
# Checking null 
# euro12.notnull().sum()
#g = euro12.isnull().sum()
#g[g[1] > 0]
df = pd.DataFrame([range(3), [0, np.NaN, 0], [0, 0, np.NaN], range(3), range(3)],columns=['A','B','C'])
print(df.describe())
print(df.isnull())
df.B.fillna(inplace=True,value="B-NotNA")
df.C.fillna(inplace=True,value="C-NotNA")
print(df)
print(df.isnull())

         A     B    C
count  5.0  4.00  4.0
mean   0.0  0.75  1.5
std    0.0  0.50  1.0
min    0.0  0.00  0.0
25%    0.0  0.75  1.5
50%    0.0  1.00  2.0
75%    0.0  1.00  2.0
max    0.0  1.00  2.0
       A      B      C
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False  False  False
   A        B        C
0  0        1        2
1  0  B-NotNA        0
2  0        0  C-NotNA
3  0        1        2
4  0        1        2
       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

In [77]:
df = pd.DataFrame([['A',1,1], ['C', np.NaN, 0], ['E', 0, np.NaN], ['A',1,2] , ['A',2,1]],columns=['A','B','C'])
df.groupby("A").B.value_counts().unstack()

# to jest pandas.Series
#type(df.groupby("A").B.value_counts())

# unstack robi dataframe. 
#type(df.groupby("A").B.value_counts().unstack())

B  0.0  1.0  2.0
A
A  NaN  2.0  1.0
E  1.0  NaN  NaN

In [0]:
#pd.read_csv?

In [78]:
# Agregacja po wszystkich kolumnach
euro12.agg(['count','mean','min','max']).sort_values('Goals')

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
min,Croatia,1.00,7.000,10.0000,21.2%,12.5%,27.0000,0.00,0.0000,0.0000,...,6.000,54.6%,25.0000,30.000,2.000,4.0000,0.0000,7.000,7.000,15.00
mean,NaN,4.75,17.125,24.9375,NaN,NaN,54.9375,1.25,0.1875,0.0625,...,12.125,NaN,52.9375,55.625,8.125,7.4375,0.1875,10.875,10.875,17.25
max,Ukraine,12.00,42.000,45.0000,55.9%,9.3%,110.0000,6.00,1.0000,1.0000,...,22.000,93.8%,102.0000,90.000,19.000,16.0000,1.0000,18.000,18.000,20.00
count,16,16.00,16.000,16.0000,16,16,16.0000,16.00,16.0000,16.0000,...,16.000,16,16.0000,16.000,16.000,16.0000,16.0000,16.000,16.000,16.00

### Step 5. How many team participated in the Euro2012?

In [79]:
euro12.shape[0]

16

### Step 6. What is the number of columns in the dataset?

In [80]:
euro12.shape[1]

35


### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [81]:
my_columns = ['Team','Yellow Cards','Red Cards']
discipline = euro12.loc[:,my_columns]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [82]:
# Sortowanie po 2 kolumnach
discipline.sort_values(['Red Cards','Yellow Cards'],ascending=[1,1])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

### Step 9. Calculate the mean Yellow Cards given per Team

In [83]:
discipline['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [84]:
euro12[euro12['Goals'] > 6][['Team','Goals']]

       Team  Goals
5   Germany     10
13    Spain     12

### Step 11. Select the teams that start with G

In [96]:
# Ustaw kolumne Team jako index.
# Zastosuj filter z parametrem like na indexise, wiersze wiec axis = 0
# Reset indexu na stuczny
new_euro12 = euro12.set_index(keys="Team")
print(new_euro12.filter(regex="^G",axis=0))

         Goals  Shots on target  Shots off target Shooting Accuracy  \
Team
Germany     10               32                32             47.8%
Greece       5                8                18             30.7%

        % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  \
Team
Germany            15.6%                          80             2
Greece             19.2%                          32             1

         Penalty goals  Penalties not scored  Headed goals      ...       \
Team                                                            ...
Germany              1                     0             2      ...
Greece               1                     1             0      ...

         Saves made  Saves-to-shots ratio Fouls Won  Fouls Conceded  Offsides  \
Team
Germany          10                 62.6%        63              49        12
Greece           13                 65.1%        67              48        12

         Yellow Cards  Red Cards  Subs on  Subs off  Players Used
Team
Germany             4          0       15        15            17
Greece              9          1       12        12            20

[2 rows x 34 columns]

### Step 12. Select the first 7 columns

In [98]:
# Wykorzystajmy tego iloca
euro12.iloc[:, 0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

### Step 13. Select all columns except the last 3.

In [99]:
euro12.iloc[:, 0:(len(euro12.columns) - 3)]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [122]:
# TODO - z pojedynczą kolumną Team zwraca Serię a nie DataFrames
euro12[euro12['Team'].isin(['England','Italy','Russia'])][['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%